<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.category2"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui.category2"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            icon="icons/RentalObjects.png"
            id="com.sogeti.rental.ui.viewRental"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.category2"
            class="com.sogeti.rental.ui.views.AgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.AgencyView"
            name="Agency View"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.sogeti.rental.peferences"
            class="com.sogeti.rental.ui.pref.RentalPreferencePage"
            id="com.sogeti.rental.ui.preferences"
            name="Rental">
      </page>
      <page
            category="com.sogeti.rental.ui.preferences"
            class="com.sogeti.rental.ui.pref.RentalColorPreferencePage"
            id="com.sogeti.rental.ui.colorprefpage"
            name="Color">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.pref.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
