<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.category2"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui.category2"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            icon="icons/RentalObjects.png"
            id="com.sogeti.rental.ui.viewRental"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.category2"
            class="com.sogeti.rental.ui.views.AgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.AgencyView"
            name="Agency View"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category=""
            class="com.sogeti.rental.ui.pref.RentalPreferencePage"
            id="com.sogeti.rental.ui.preferences"
            name="Rental">
      </page>
      <page
            category="com.sogeti.rental.ui.preferences"
            class="com.sogeti.rental.ui.pref.RentalColorPreferencePage"
            id="com.sogeti.rental.ui.colorprefpage"
            name="Color">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.pref.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sogeti.rental.ui.handler.HelloHandler"
            commandId="com.sogeti.rental.ui.command.hello">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               commandId="com.sogeti.rental.ui.command.hello"
               id="com.sogeti.rental.ui.textmenu"
               label="Hello">
            <command
                  commandId="com.sogeti.rental.ui.command.hello"
                  style="push"
                  tooltip="Show hello word">
            </command>
          
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <menu
               id="com.sogeti.rental.ui.textmenu3"
               label="Hello">
            <command
                  commandId="com.sogeti.rental.ui.command.hello"
                  style="push"
                  tooltip="Show hello word">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.AgencyView?after=additions">
         <menu
               id="com.sogeti.rental.ui.textmenu2"
               label="Hello">
            <command
                  commandId="com.sogeti.rental.ui.command.hello"
                  style="push"
                  tooltip="Show hello word">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sogeti.rental.ui.AgencyView?after=additions">
         <command
               commandId="com.sogeti.rental.ui.command.hello"
               label="HelloCmd"
               style="push"
               tooltip="Show hello word">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sogeti.rental.ui.command.hello"
            name="Hello World">
      </command>
   </extension>

</plugin>
